/* Estils generals */
body {
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

/* Estils de fons */
.fons-aqua {
    background-color: aqua;
}

.fons-plata {
    background-color: silver;
}

/* Estils de paràgrafs */
.centrat {
    text-align: center;
}

.dreta {
    text-align: right;
}

/* Estils del text */
.vermell {
    color: red;
}

.blau {
    color: blue;
}
