/* Estils generals */
body {
    background-color: yellow;
    font-family: Verdana, sans-serif;
}

/* Estil del títol */
h1 {
    color: orange;
}

/* Estils per a la llista */
ul li {
    font-size: 15px;
}

/* Estils per als enllaços */
a:link {
    color: red;
}

a:hover {
    color: green;
    text-decoration: none; /* Eliminar el subratllat en passar el cursor */
}

a:visited {
    color: purple;
}

a:active {
    color: lime;
}

